.ErrorSection{border:1px solid $(main.line);padding:20px;text-align:center}
.ErrorSection h2{color:#222222;margin:38px 0 50px;font-size:64px}
.ErrorSection span{display:block}
.ErrorSection span i{font-size:110px;color:#d24949;}
.ErrorSection p{color:#777777;margin:20px 0 0;font-size:18px;font-weight:700;text-align:center}
  
.rootsoftviewers .loading{display:inline-block;width:20px;height:20px;background:transparent url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjcvxeVVAckUspada4fK1VVSUXL6EqLix9boKtirFV87xFOK-G1mSWP1PE3GjDLsvnVEHNFHhwbUgOThR94y0OubfaJnUD7pebUaYp6ZcjlPO5PmfxMd54r25CxqvcPjLS-l88c2XYpOETCE4bnxhip-OyX3LHY58CnSy-KluAWLK_rQXbPy6x04y_OrQKj/s320/F5nQxSs.gif) no-repeat 0 0;vertical-align:middle}
.rootsoftviewers{margin:0px 0;display:color:#333;padding:0px 0px;font-family:&#39;Exo&#39;,sans-serif;cursor:default;font-weight:100;transition:all .3s ease-out;float:right;width:330px}
#breakingnews {margin:15px 0 0 0;margin-right:15px;height:42px;line-height:29px;overflow:hidden;background:#FFF;border:1px solid #e6e6e6;}
#breakingnews .breakhead {position:absolute;background:none repeat scroll 0 0 #444444;color:#FFF;display:block;float:left;font-family:inherit;font-size:13px;font-weight:400;text-transform:uppercase;padding:5.4px 22px;}
#adbreakingnews li a {font-family:inherit;font-weight:400;color:#666;margin-top:10px;transition:all 0.5s ease-in-out;}
#adbreakingnews li a:hover {color:#359bed;}
#adbreakingnews {float:left;margin-left:75px;margin-top:6px;}
#adbreakingnews ul,#adbreakingnews li{list-style:none;margin:0;padding:0}
@media only screen and (max-width:640px){
#breakingnews {margin:20px 0 0 0;margin-right:0;}
#breakingnews .breakhead {padding:6.5px 14px;}
#adbreakingnews {margin-left:50px;}

@media screen and (max-width : 970px) {
#outer-wrapper,#menu-inner {width: 660px;}
#sidebar-wrapper {float: right; width: 648px;}
#topads .widget-content {border-width: 3px; margin-left: 12px; width: 640px;}
 
