<b:skin><![CDATA[

.ContactForm, .ContactForm .title {
 display: none;
}
.floating-ct {
 position: fixed;
 width: 250px;
 right: 0;
 bottom: 0;
 z-index: 999;
}
.floating-ct-head a {
 padding: 5px 10px;
 background: #09f;
 color: white;
 font-weight: bold;
 display: inline-block;
 *display: block;
 zoom: 1;
}
.floating-ct-body {
 height: 285px;
 background: white;
 border: 1px solid #09f;
 padding: 10px;
 display: none;
}
.floating-ct-head {
 text-align: right;
}
.floating-ct-body .ContactForm {
 margin: 0;
 display: block!important;
}

.list-label-widget-content ul li {
list-style: none;
padding: 0;
}
.list-label-widget-content ul {
padding: 0;
}
.list-label-widget-content ul li a {
display: block;
padding: 8px 5px;
border-bottom: 0;
color: #777;
border-bottom: 1px solid;
}

.list-label-widget-content ul li a:before {
display: inline-block;
width: 20px;

content: "\f0a5";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;

line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.Label span {
display: none;
}
.cloud-label-widget-content span {
display: inline-block;
font-size: 100% !important;
min-height: 30px;
line-height: 2em;
margin-bottom: 5px;
}
.cloud-label-widget-content span a {
background-color: #DDD;
color: #111;
padding: 5px 15px;
}
.cloud-label-widget-content span a:hover {
background-color: #f13b3b;
color: #fff;
text-decoration: none;
}




.widget-content.cloud-label-widget-content {display:inline-block;}
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {font-size:100%;opacity:1}
.cloud-label-widget-content{text-align:right;padding:10px;}
.label-count {white-space:nowrap;display:inline-block;}
#sidebar-wrapper .Label li{position:relative;background:#fff;color:#444;padding:0;margin:0;text-align:right;width:100%;transition:all .3s ease-out}
#sidebar-wrapper .Label li:hover {background:#fff;color:#cf4d35;}
#sidebar-wrapper .Label li:before {content:"";position:absolute;width:0;height:100%;background:#4fafe9;transition:all .2s ease-in-out;}
#sidebar-wrapper .Label li:hover:before {width:100%;}
#sidebar-wrapper .Label li a{padding:0 0 0 20px;display:block;position:relative;line-height:42px;color:#787878;text-decoration:none;transition:all .3s ease-out}
#sidebar-wrapper .Label li a:hover {color:#fff;}
#sidebar-wrapper .Label li span{float:right;height:42px;line-height:42px;width:42px;text-align:center;display:inline-block;background:#4fafe9;color:#FFF;position:absolute;top:0;right:0;z-index:2}
#sidebar-wrapper .Label li:nth-child(1) span,#sidebar-wrapper .Label li:nth-child(1):before,#sidebar-wrapper .Label li:nth-child(7) span,#sidebar-wrapper .Label li:nth-child(7):before {background:#ca85ca;}
#sidebar-wrapper .Label li:nth-child(2) span,#sidebar-wrapper .Label li:nth-child(2):before,#sidebar-wrapper .Label li:nth-child(8) span,#sidebar-wrapper .Label li:nth-child(8):before {background:#e54e7e;}
#sidebar-wrapper .Label li:nth-child(3) span,#sidebar-wrapper .Label li:nth-child(3):before,#sidebar-wrapper .Label li:nth-child(9) span,#sidebar-wrapper .Label li:nth-child(9):before {background:#61c436;}
#sidebar-wrapper .Label li:nth-child(4) span,#sidebar-wrapper .Label li:nth-child(4):before,#sidebar-wrapper .Label li:nth-child(10) span,#sidebar-wrapper .Label li:nth-child(10):before {background:#f4b23f;}
#sidebar-wrapper .Label li:nth-child(5) span,#sidebar-wrapper .Label li:nth-child(5):before,#sidebar-wrapper .Label li:nth-child(11) span,#sidebar-wrapper .Label li:nth-child(11):before {background:#46c49c;}
#sidebar-wrapper .Label li:nth-child(6) span,#sidebar-wrapper .Label li:nth-child(6):before,#sidebar-wrapper .Label li:nth-child(12) span,#sidebar-wrapper .Label li:nth-child(12):before {background:#607ec7;}
#sidebar-wrapper .label-size{position:relative;display:block;float:left;margin:0 4px 4px 0;font-size:13px;transition:all 0.3s;}
#sidebar-wrapper .label-size a{background:#4fafe9;display:inline-block;color:#fff;padding:5px 8px;font-weight:400;transition:all .3s}
#sidebar-wrapper .label-count{backface-visibility:hidden;opacity:0;visibility:hidden;font-size:85%;display:inline-block;position:absolute;top:-5px;right:-10px;background:#fff;color:#3b91c5;border:1px solid #4fafe9;white-space:nowrap;padding:0;width:25px;height:22px;line-height:22px;border-radius:4px;text-align:center;z-index:1;transition:all .3s}
#sidebar-wrapper .label-size:hover .label-count{opacity:1;visibility:visible;right:-15px}
#sidebar-wrapper .label-size a:hover{background:#45a1d8;color:#fff;}

.adsunderf {
display: none!important;}
.rootsoft-pager {
background-color: #fff;
box-shadow: 0 0 0 1px #cccccc inset;
display: block;
height: 100px;
list-style: outside none none;
margin: 20px 0 20px 12px !important;
overflow: hidden;
padding: 0 !important;
position: relative;
}
.rootsoft-pager li {
height: 100px;
margin: 0;
overflow: hidden;
padding: 0;
}
.rootsoft-pager .next {
float: right;
width: 50%;
}
.rootsoft-pager .previous {
float: left;
width: 50%;
box-shadow: 1px 0 0 #bbb;
}
.rootsoft-pager a {
display: block;
height: 100px;
}
.rootsoft-pager .fa.fa-angle-right {
color: #fff;
font-size: 40px;
margin-right: 5px;
margin-top: -6px;
position: absolute;
right: 0;
}
.rootsoft-pager .fa.fa-angle-left {
color: #fff;
font-size: 40px;
left: 0;
margin-left: 5px;
margin-top: -6px;
position: absolute;
}
.rootsoft-pager strong{
background-color: #444444;
color: #fff;
display: block;
height: 30px;
line-height: 30px;
text-align: center;
transition: all 0.7s ease 0s;
}
.rootsoft-pager .older-link strong {background-color: #446FAA;}
.rootsoft-pager li:hover .older-link strong ,.rootsoft-pager li:hover .newer-link strong{
background-color: #FC5400;
}
.rootsoft-pager span {
color: #444444 !important;
display: block;
font-size: 13px;
height: 59px;
line-height: 2.3em;
padding: 5px;
text-align: center;
transition: all 0.7s ease 0s;
}
.rootsoft-pager .previous span {background-color: #FFF;margin: 0 0 0 1px;}
.rootsoft-pager .next span {margin:0 1px 0 0;}
.pagenav {background:#fff;clear:both;margin:-5px 0 10px;margin-top:10px;padding:5px;text-align:center;font-size:13px;font-family:'Open Sans';font-weight:700;border-radius:3px;border:1px solid #eceeee;}
.pagenav span,.pagenav a {padding:6px 12px;display:inline-block;background-color:#446FAA;color:#fff;margin-left:2px;margin-right:2px;border-radius:3px;transition:all .5s linear;}
.pagenav .pages {background-color:#446FAA;color:#fff;transition:all .2s linear;}
.pagenav a:hover {background-color:#000;color:#fff;transition:all .2s linear;}
.pagenav .current {background-color:#FC5400;color:#fff;transition:all .2s linear;}
.pagenav .pages {display:none;}
.adsunderf {
float: right;
margin-bottom: 0px;
width: 640px;
}
.adsunderf .adsun1 {float: right;}
.adsunderf .adsun2 {float: left;}
.adsunderf span {
background-color: #fff;
box-shadow: 0 0 0 1px #cccccc;
display: block;
height: 250px;
margin-bottom: 20px;
margin-left: 13px;
overflow: hidden;
position: relative;
overflow: hidden;
padding: 0px;
width: auto;
}
.post h3.post-title.entry-title:hover{-webkit-transition: all .4s ease-out; -moz-transition: all .4s ease-out; -o-transition: all .4s ease-out; transition: all .4s ease-out;background: #3E4557;}
  h3.post-title.entry-title:before{display:none;}
h3.post-title.entry-title:before{
  content: "\f123";
  display: inline-block;
  font: 20px fontawesome;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 0px;
  color: #fff;
}
h3.post-title.entry-title:hover{-webkit-transition: all .4s ease-out; -moz-transition: all .4s ease-out; -o-transition: all .4s ease-out; transition: all .4s ease-out;background: #3E4557;}
h3.post-title.entry-title a{color:#FFF;}
h3.post-title.entry-title a:hover{-webkit-transition:all .7s;-moz-transition:all .7s;-o-transition:all .7s;transition:all .7s;margin-right:10px;}
.post-sharing {margin:0 auto 20px;position :relative;text-align:right;}
.post-sharing a{width : 32px;height:32px;display :inline-block;line-height:34px;color:#fff!important;text-align:center;border-radius:100%;-webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}
.post-sharing a:hover {box-shadow: 0px 0px 18px 18px rgba(80, 80, 80, 0);
-webkit-transform: translateY(-4px); transform: translateY(-4px);}
.post-share{float :right;width : 100%;padding-left:20px;padding-right:25px;margin:0 auto;text-align:center}
.post-share li,.post-sharing li{display :inline-block;font-size:15px}
ul.post-sharing:before{content:'أنشر هذه التدوينة في : ';display :block;margin-bottom:10px}
.post-share li a{position :relative;margin:0 1px 0 0;padding:4px 11px;line-height:2.2;font-weight:400;vertical-align:middle;color:#fff;font-size:16px;text-transform:uppercase;display :inline-block;transition:background-color .3s}
.post-share .fa{padding:0 0 0 5px;top:1px;font-size:16px;position :relative}
.post-share ul{list-style:none}
.post-share ul li{padding-bottom:3px;font-size:16px;font-family:'Karla',sans-serif;display :inline-block;margin-top:5px;}
.post-footer .post-share li a{color:#fff;}
.post-sharing .facebook-share,a.facebook.df-share{background-color:#3B5998;}
.post-sharing .twitter-share,a.twitter.df-share{background-color:#00ACED;}
.post-sharing .google-share,a.google.df-pluss{background-color:#D14836;}
.post-sharing .whatsapp-share,a.whatsapp.df-share{background-color:#2AB200;}
#shoternUrl {
float: right;
  height: 60px;
  margin: 4px;
}
input.textinpo {
  float: left;
  border: 1px solid #ooo;
  padding: 4px;

text-align: center;
  color: #ooo;
  margin-left: auto;
}
.post-body img{background:#FFFFFF;max-width:100%;border:0;margin-bottom:2.0px;opacity:1;transition:all .6s ease;}
.post-body img {margin:0 0 0 10px;padding:0.5px;}
body#layout .add_widget {border:1px solid #ddd;}
#layout .add_widget a {color:#444;}
#layout:before {    content: 'RootSoft.com';
    text-transform: uppercase;
    font-size: 200px;
    color: #999;
    margin: 0 0 20px 0;
    display: inline-block;
    font-weight: 700;
    padding: 20px;
    font-family: sans-serif;
    border: 4px double #FD856E;}
.post-body img {margin:0 0 0 10px;padding:0.5px;}
body#layout {margin-left:5px;display:table}
body#layout #content {float:right;width:530px;}
body#layout #Contact Rootsoft {float:none;width:530px;overflow:hidden}
body#layout .col-lg-6 {display: inline-block;width: 260px;}
body#layout #side-bar {float:left;width:250px;}
body#layout #content-wrapper, body#layout .container {float:left;width:800px;}
body#layout ul.nav li {display:none}
body#layout .navbar-header{width: 250px;float: right;}
body#layout #bs-example-navbar-collapse-1{background-color: #E3E3E3;width: 497px;height: 120px;border: 1px solid rgb(204, 204, 204);float: left;margin: 0 0 8px 0px;overflow: visible;padding: 4px;}
body#layout #footx1{float: right;width: 200px;}
body#layout #footx2{float: right;width: 200px;}
body#layout #footx3{float: right;width: 200px;}
body#layout #footx4{float:left;width:198px;}
body#layout #footer-wrapper{padding:20px 0;overflow:visible;background: #DA3E3E;color: #fff;}
body#layout #footer-wrapper .add_widget {background-color:#3695DB;border:none;}
body#layout #footer-wrapper .add_widget a {color:#fff;}
body#layout #footer-wrapper .footer-column{width:33.33%;float:right}
body#layout #footer-wrapper #column1,#layout #footer-wrapper #column2{margin:0}
body#layout #footer-wrapper {
display: inline-block;
margin: 0px;
width: 800px;
adscolumn{
width:933px;                                                                      
padding:10px 3px;
background:#fff;
margin:5px 10px 0px 10px;
text-align:center;
border:1px solid #C0C0C0;
}
.adscolumn .widget{
}
#sidebar .widget {
background-color: #fff;
box-shadow: 0 0 0 1px #cccccc inset;
margin: 0 0 20px;
overflow: hidden;
padding: 9px;
}
#sidebar h2::before {
background-color: #FC5400;
content: "\f1cb";
display: block;
position: absolute;
font: 24px/34px fontawesome;
height: 34px;
width: 34px;
}
#sidebar h2::after {
color: #446FAA;
content: "\f0dd";
display: block;
font: 30px fontawesome;
margin-top: -22px;
position: absolute;
width: 100%;
-webkit-margin-before: -19px;
}
#sidebar h2 {
background-color: #446FAA;
color: #fff;
font-size: 14px;
height: 34px;
line-height: 34px;
margin: 0 0 15px 0;
position: relative;
text-align: center;
}
body#layout div#hidden-w{display: none;}
#layout,#layout .widget-content,#layout .add_widget {border:none;}
type:none;overflow:hidden;}      #PopularPosts1 ul li .item-thumbnail{overflow:hidden;float :left;margin-right:10px;}      #PopularPosts1 img {overflow:hidden;width : 72px;height:72px;-ms-transform: scale(1.0);-webkit-transform: scale(1.0);-moz-transform: scale(1.0);transform: scale(1.0);transition:all .4s linear;-moz-transition:all .4s linear;-webkit-transition:all .4s linear;}      #PopularPosts1 img:hover{-ms-transform: scale(1.2);-webkit-transform: scale(1.2);-moz-transform: scale(1.2);transform: scale(1.2);transition:all .4s linear;-moz-transition:all .4s linear;-webkit-transition:all .4s linear;}      .PopularPosts .widget-content ul li{position :relative;padding:0;margin:10px auto;}      .PopularPosts .widget-content ul li:first-child {margin-top:0;}      .PopularPosts .widget-content ul li:last-child {margin-bottom:0;}      .PopularPosts .widget-content ul li:nth-child(1){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(202,220,85,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(2){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(243,93,92,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(3){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(10,151,181,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(4){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(15,203,205,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(5){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(16,170,206,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(6){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(202,220,85,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(7){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(243,93,92,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(8){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(10,151,181,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(9){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(15,203,205,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li:nth-child(10){background:#f3f5f7;border:1px solid #e7e8ea;border-right:2px solid rgba(16,170,206,0.8);width : 100%;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li a{color:#525f6a;transition:all 0.3s ease-out;}      .PopularPosts .widget-content ul li a:hover{color:#446FAA;}      .PopularPosts .widget-content ul li:hover:nth-child(1),.PopularPosts .widget-content ul li:hover:nth-child(2),.PopularPosts .widget-content ul li:hover:nth-child(3),.PopularPosts .widget-content ul li:hover:nth-child(4),.PopularPosts .widget-content ul li:hover:nth-child(5),.PopularPosts .widget-content ul li:hover:nth-child(6),.PopularPosts .widget-content ul li:hover:nth-child(7),.PopularPosts .widget-content ul li:hover:nth-child(8),.PopularPosts .widget-content ul li:hover:nth-child(9),.PopularPosts .widget-content ul li:hover:nth-child(10){background:#fff;}      .PopularPosts .widget-content{background:#fff;}      .PopularPosts .item-thumbnail{float :right;padding:0;margin:0;}      .PopularPosts .item-title {color:#b2b5be;font-weight:400;font-size:12px;padding:5px;}      .PopularPosts .item-snippet {display :none;font-size:12px;color:#b2b5be;overflow:hidden;text-align:justify;}      .sidebar .label-size {position :relative;text-transform:none;text-decoration:none;font-size:12px;font-family:&#39;ge_ss_threeregular&#39;;}      .sidebar .label-size a {color:#525f6a;font-weight:400;padding:10px 12px;        margin:0 0 2px 2px;float :right;display :block;border:4px solid #eceef0;transition: all 0.4s ease-in-out;}      .sidebar .label-size-1 a {b
ox-shadow:inset 2px 0 0 0 #1abc9c;opacity:0.8;}      .sidebar .label-size-1 a:hover {box-shadow:inset 100px 0 0 0 #1abc9c;color:#fff!important;opacity:1;}      .sidebar .label-size-2 a {box-shadow:inset 2px 0 0 0 #3498db;opacity:0.8;}      .sidebar .label-size-2 a:hover {box-shadow:inset 100px 0 0 0 #2980b9;color:#fff!important;opacity:1;}      .sidebar .label-size-3 a {box-shadow:inset 2px 0 0 0 #2ecc71;opacity:0.8;}      .sidebar .label-size-3 a:hover {box-shadow:inset 100px 0 0 0 #27ae60;color:#fff!important;opacity:1;}      .sidebar .label-size-4 a {box-shadow:inset 2px 0 0 0 #9b59b6;opacity:0.8;}      .sidebar .label-size-4 a:hover {box-shadow:inset 100px 0 0 0 #8e44ad;color:#fff!important;opacity:1;}      .sidebar .label-size-5 a {box-shadow:inset 2px 0 0 0 #446FAA;opacity:0.8;}      .sidebar .label-size-5 a:hover {box-shadow:inset 100px 0 0 0 #c0392b;color:#fff!important;opacity:1;}      .sidebar .label-size:hover{background:none;}      .label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {        font-size:100%;}      .cloud-label-widget-content{text-align:right}      .label-size{display :block;float :right;margin:0 0 2px 2px;color:#fff;transition:all 0.4s ease-in-out;}
.BlogArchive h2::before {content: "\f0c5" !important;}
.BlogArchive select {
color: #555;
font: 14px "droid arabic kufi",georgia;
padding: 5px 0;
width: 100%;
}
.side-taps .widget h2 {display: none;}
.tabs-widget {
background-color: #000;
display: block;
height: 36px;
line-height: 36px;
list-style: outside none none;
margin: 0;
padding: 0;
}
.tabs-widget li {
display: block;
float: right;
height: 100%;
position: relative;
width: 33.3%;
}
.tabs-widget li a {
color: #fff;
display: block;
font-size: 12px;
font-weight: bold;
height: 100%;
width: 100%;
}
.tabs-widget li a:hover, .tabs-widget li a.tabs-widget-current { background-color: #446FAA;}
.tabs-widget-current::after {
color: #446FAA;
content: "\f0d7";
display: block;
font: 26px/36px fontawesome;
position: absolute;
text-align: center;
top: 21px;
width: 100%;
z-index: 5;
}
.tabs-widget li a::before {
float: right;
font: 20px/36px fontawesome;
margin: 0 5px;
}
.tabs-widget #stab1 a::before {content: "\f004";}
.tabs-widget #stab2 a::before {content: "\f02c";}
.tabs-widget #stab3 a::before {content: "\f086";}
.side-taps .widget {
background-color: #fff;
box-shadow: 0 0 0 1px #cccccc inset;
float: left;
margin-bottom: 20px !important;
width: 100%;
}
.side-taps .widget-content {padding: 18px 9px 9px;}
.post-home.first {margin-left: 30px;}
.firstad {
background-color: #fff;
box-shadow: 0 0 0 1px #cccccc;
height: 300px;
left: 12px;
overflow: hidden;
position: absolute;
width: 318px;
}
.post h2 {
background-color: #446FAA;
border: 1px dashed #fff;
box-shadow: 0 0 0 4px #446FAA;
color: #fff;
display: block;
font-weight: normal;
min-height: 40px;
line-height: 40px;
margin: 20px 5px;
padding: 0 10px;
}
.post h3 {
background-color: #eee;
border-bottom: 4px solid #FC5400;
display: block;
font-weight: normal;
line-height: 38px;
margin: 20px 0;
min-height: 40px;
padding: 0 10px;
}
.post h4::before {
color: #4fba6e;
content: "\f058";
float: right;
font: 22px fontawesome;
margin-left: 5px;
}
.post h4 {
color: #333;
text-align: right !important;
margin:20px 0;
}
blockquote::before,blockquotc::before,blockquoth::before,blockquotb::before,blockquotw::before {
color: #fff;
font: bold 26px/34px serif;
height: 34px;
margin: 0 0 0 -10px;
position: absolute;
top: 0;
width: 100%;
}
blockquotc::after,blockquoth::after,blockquotb::after,blockquotw::after {
color: #fff;
font: bold 14px/34px "droid arabic kufi",georgia;
position: absolute;
right: 5px;
text-align: right;
top: 0;
width: 100%;
}
blockquote,blockquotc,blockquoth,blockquotb,blockquotw {
background-color: #333;
color: #fff;
direction: ltr !important;
display: block;
font: 14px/1.8em georgia;
margin: 20px auto 5px;
max-height: 300px;
overflow: auto;
padding: 40px 10px 10px;
position: relative;
text-align: left !important;
width: 94%;
}
blockquote {background-color: #eee !important;color: #444444 !important;}
blockquote::before {background-color: #446FAA; content: "\00a0 Code";}
blockquotc::before {background-color: #FC5400; content: "\00a0 CSS";}
blockquotc::after {content:"]]\003e\003c/b:skin\003e يضاف فوق";}
blockquoth::before {background-color: #0065FD; content: "\00a0 JS";}
blockquoth::after {content:"\003c/head\003e يضاف فوق";}
blockquotb::before {background-color: #4FBA6E; content: "\00a0 JS";}
blockquotb::after {content:"\003c/body\003e يضاف فوق";}
blockquotw::before {background-color: #F00004; content: "\00a0 HTML/JavaScript";}
blockquotw::after {content:"يوضع في آداة";}
.post ol{
counter-reset:li;
list-style: none;
*list-style: decimal;
margin-right:0;
padding-right:0
}
.post ol li:before {
background-color:#446FAA;
color: #fff;
content: counter(li, decimal);
counter-increment: li;
font: bold 14px serif;
margin: 0 0 10px;
padding: 5px 3px !important;
position: absolute;
right: -9px;
text-align: right;
text-indent: 6px;
top: -5px;
width: 20px;
}
.post ol li:after {
border-color: transparent #446FAA transparent transparent;
border-style: solid;
border-width: 5px 5px 0 0;
content: "";
height: 0;
position: absolute;
right: 17px;
top: -5px;
width: 0;
}
.post ol li{
position:relative;
margin:0 15px 20px 0 !important;
padding:4px 10px 4px 5px !important;
list-style:none;
*list-style: decimal;
border-bottom:1px solid #e2e3e2;
background-color:#f2f2f2;
text-indent:14px;
}
striks::after,qaz::after {
background-color: #fff;
color: #444444;
content: "\f002";
float: right;
font: 16px fontawesome;
height: 20px;
margin-left: 5px;
padding-left: 2px;
text-align: center;
width: 20px;
}
striks,qaz {
background-color: #333;
border: 2px solid #fff;
box-shadow: 0 1px 1px 2px #000;
color: #ffd600;
direction: ltr;
display: inline-block;
font: bold 13px/18px arial;
height: 20px;
margin: 10px 5px;
padding-left: 5px;
text-align: center;
}
strikk,wsx{
border:1px solid gray;
font:1.2em arial;
display: inline-block;
box-shadow:1px 0 1px 0 #eee, 0 2px 0 2px #cccccc, 0 2px 0 3px #444444;
border-radius:3px;
margin:10px 5px;
padding:1px 5px;
direction: ltr !important;
text-align: center;
}
strikl {
background-color: #333;
color: #fff;
direction: ltr;
display: inline-block;
margin: 5px;
padding: 0 5px;
}

.rootsoftv::after {
color:#000;
content: "\f26c";
display: block;
font: 300px fontawesome;
margin-top: -265px;
position: relative;
text-align: center;
z-index: 1;
-webkit-margin-before: -235px;
}
.rootsoftv {
height: 280px;
margin-bottom: 80px;
margin-top: 20px;
max-width: 500px;
position: relative;
width: 90%;
}
.rootsoftv iframe {
background-color: #fff;
border: 1px solid #bbb;
box-shadow: 0 0 0 10px #000;
height: 280px;
position: relative;
width: 100% !important;
z-index: 9;
}
#HTML1 h2::before {content: "\f108" !important;}
#HTML2 h2::before {content: "\f0c0" !important;}
#HTML3 h2::before {content: "\f0c0" !important;}
#HTML4 h2::before {content: "\f109" !important;}
#HTML5 h2::before {content: "\f006" !important;}
#HTML6 h2::before {content: "\f0e0" !important;}
#HTML11 h2::before {content: "\f095" !important;}
#HTML12 h2::before {content: "\f1fa" !important;}
#HTML13 h2::before {content: "\f232" !important;}
#topads .widget-content {
background-color: #fff;
border: 10px solid #fff;
box-shadow: 0 0 0 1px #cccccc;
height: 90px;
margin: 0 auto 40px;
overflow: hidden;
width: 728px;
}
.LinkList h2::before {content: "\f005" !important;}
.LinkList ul {
list-style: outside none none;
margin: 0;
padding: 0;
}
.LinkList li a {
background-color: #444444;
box-shadow: 0 1px 0 4px #fff;
color: #fff;
display: block;
float: right;
height: 40px;
line-height: 40px;
margin-bottom: 5px;
text-align: center;
width: 100%;
}
.LinkList li a:hover {background-color: #FC5400;}
.post-body ul{margin:0;padding:0}
.widget ul {line-height: 1.8;}
.post-home {
background-color: #fff;
box-shadow: 0 0 0 1px #cccccc;
height: 300px;
margin-bottom: 20px;
margin-left: 12px;
overflow: hidden;
position: relative;
width: auto;
}
.labandcomm {
background-color: #eee;
border-top: 1px solid #ddd;
bottom: 0;
font-size: 12px;
height: 30px;
line-height: 30px;
position: absolute;
width: 100%;
}
.comment-bubble::before {
content: "\f086";
float: left;
font: 16px/30px fontawesome;
margin: 0 4px;
}
.comment-bubble::after {
color: #444444;
content: "\f0da";
float: right;
font: 22px/30px fontawesome;
margin-right: -7px;
transition: all 0.7s ease 0s;
}
.comment-bubble:hover::after {color:#446FAA}
.comment-bubble {
background-color: #444444;
color: #fff;
float: left;
font: 12px/30px arial;
height: 30px;
text-align: left;
width: 50px;
}
.comment-bubble:hover {background-color: #446FAA; color:#fff;}
.labelsmm::before {
content: "\f02c";
float: right;
font: 16px/30px fontawesome;
margin: 0 5px;
}
.labelsmm a {color:#333;}
.labelsmm a:hover {color:#3e5b7e;}
.labelsmm::before {
content: "\f02c";
float: right;
font: 16px/30px fontawesome;
margin: 0 5px;
}
.labelsmm a {color:#333;}
.labelsmm a:hover {color:#3e5b7e;}
.thumcont {
border-bottom: 1px solid #eee;
height: 150px;
overflow: hidden;
position: relative;
width: 100%;
}
.thumbin,.thnoimg {
background-color: #FFF;
height: 100%;
position: absolute;
width: 100%;
}
.thumbin {z-index: 2;}
.thnoimg {z-index: 1;}
.thumcont img {
height: 100%;
width: 100%;
transition: all 0.7s ease 0s;
}
.thumcont img:hover {opacity: 0.5; transform: scale(1.3);}
.thnoimg::before {
color: #fff;
content: "\f030";
display: block;
font: 60px/150px fontawesome;
text-align: center;
width: 100%;
transition: all 0.7s ease 0s;
}
.thnoimg:hover::before {background-color:#446FAA;}
.ptitle {
display:block;
line-height: 1.8em;
margin:5px;
text-align: center;
}
.post-snippet {
font: 14px/1.9em tahoma;
margin: 0 5px;
text-align: center;
}
#sidebar .widget {
background-color: #fff;
box-shadow: 0 0 0 1px #cccccc inset;
margin: 0 0 20px;
overflow: hidden;
padding: 9px;
}
#sidebar h2::before {
background-color: #FC5400;
content: "\f1cb";
display: block;
position: absolute;
font: 24px/34px fontawesome;
height: 34px;
width: 34px;
}
#sidebar h2::after {
color: #446FAA;
content: "\f0dd";
display: block;
font: 30px fontawesome;
margin-top: -22px;
position: absolute;
width: 100%;
-webkit-margin-before: -19px;
}
#sidebar h2 {
background-color: #446FAA;
color: #fff;
font-size: 14px;
height: 34px;
line-height: 34px;
margin: 0 0 15px 0;
position: relative;
text-align: center;
}
#mohawelbtn {position: absolute;visibility: hidden;}
.framhol {float: right; visibility: hidden; height:0;  transition: all 0.7s ease 0s;}
#mohawelbtn:checked ~ .framhol{visibility: visible; height:241px;}
#mohawelbtn + label span::before {
content: "\f121";
color: #fff;
float: right;
font: 20px/24px fontawesome;
margin-left: 5px;
text-align: center;
}
#mohawelbtn + label span::after {
content: "\f0d7";
float: left;
font: 20px/24px fontawesome;
margin-right: 5px;
}
.mohawelcontan span {
background-color: #446FAA;
color: #fff;
cursor: pointer;
float: right;
font-size: 13px;
height: 26px;
line-height: 24px;
margin-bottom: -1px;
padding: 0 5px;
width: 124px;
}
#mohawelbtn:checked + label span {background-color: #FC5400;}
#mohawelbtn:checked + label span::after {content: "\f00d";}
.sharebuto {
background-color: rgba(255, 255, 255, 0.6);
border-radius: 2px 0 0;
bottom: 0;
box-shadow: -1px -1px 1px #bbb;
list-style: outside none none;
margin: 0;
padding: 3px !important;
position: absolute;
right: 0;
z-index: 99;
}
.sharebuto  li {
float: left;
padding:0;
display: block;
}
.sharebuto a {
color: #fff;
display: block;
height: 20px;
line-height: 20px;
text-align: center;
width: 20px;
}
.sharebuto a:hover {background-color:#555 !important;}
.sharebuto .fa.fa-facebook {background-color: #446FAA;}
.sharebuto .fa.fa-twitter {background-color: #5aaeee;}
.sharebuto .fa.fa-google-plus {background-color: #ce3547;}
t #content {float:right;width:530px;}

body {background: #fff url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgF35BalTqKWmdmv7aKQcyHhu1vCvp7ecmofhq3g_VhPUyPniR75KMJBFiZp79cvsv5g42gnge7TTaT6xp8ENXgOPSMnhCYjKdyVDIivYYnFZK-1MR2TqarFH3Um3VftOKLbWQi6y-61vw/s160-Ic42/cream_pixels.png"); font-family: 'Tahoma', arial; direction: rtl; line-height: 1.52857; color: #434343;} .wrapper{background: #FFFFFF; padding: 10px;     box-shadow: 0 0 5px #D1D1D1; margin: 0 auto;} .item-snippet, .sumry { font: 12px/23px tahoma; }#banner { text-align: center;width: 745px;margin: 10px auto;} .ads728 { max-width: 100%; display: block; float: none; overflow: hidden;margin:0 auto } @media (min-width:1200px){.container{width:990px}.ads728 {max-width: 100%;}} .ads728 {max-width: 76%;} [class*="col-"] { padding: 0px 4px; float:right; } *{border-radius:0 !important;} .row { margin: 0px -4px; } .b-sidebar,.b-main{*display: table-column;} .b-header { margin-top: 50px; } .navbar { border-radius: 0; margin-bottom:0 background: #343434; border: medium none; } .nvbar-top { background:#343434; margin-bottom: 0; } .fixed-top { background: none; margin-bottom: 10px; } .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #D64738; } .navbar-toggle { border: none; } .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: white; background: #343434 } .navbar-nav > li > .dropdown-menu { border: none; } .navbar-toggle:focus, .navbar-toggle:hover { background-color: #343434 !important; } .flrt{float:right} .fllt{float:left} .sidebar .widget,.post-outer,.b-header,#lhtml{ background: #FFF; padding: 10px; border: 1px solid #DEDCDC; margin-bottom: 15px;} .sidebar:hover .widget:hover,.post-outer:hover,.b-header:hover,#lhtml:hover { *background: #F8F8F8; }
#navbar-iframe-container, .content-section .navbar{display: none;height: 0px;visibility: hidden;}
.widget-content{clear: both;padding:0}
.sidebar .widget{*padding:0;*border-color:#ECE3CA}
.sidebar .PopularPosts {*border-color: #C9E1E1;}

.xsidebar h2, .y-title {font-weight: 300;margin: 0px; padding: 9px 10px 9px 15px; font-size: 14.2px; text-align: center; text-transform: uppercase; font-family: Droid Arabic Naskh!important;} .xsidebar h2 {background: #444;color:#FFF;margin-bottom: 10px;}.navbar-inverse .navbar-brand {font-weight: 600;} .nav{padding-right:0;} .navbar-collapse {padding-left: 0;padding-right: 0;} a {color: #446FAA;transition: color .3s;} a:hover:{color: #446FAA!important;text-decoration:none!important;}#searchthis .form-control {transition: all 0.25s ease-in-out 0s;width:130px;border-right: none;border-top: none;border-bottom: none;background: #FFF;border-left: none;} #searchthis .form-control:focus {width: 170px;box-shadow:none} #searchthis button {border-right: none;color: #FFF;} .navbar-inverse .navbar-nav > li > a { color: #FFF;font-family: Droid Arabic Naskh; }
.fa-lightbulb-o:before {content: "\f0eb";font-size: 15px;}
a.active {background: #444;}
#bs-example-navbar-collapse-2 {background-color: #446FAA;}
li.new:before { content: "جديد"; font-size: 10px; font-weight: 400; padding: 0 4px; border-radius: 2px; color: #fff; background: rgba(231, 76, 60, 0.83); display: inline-block; position: absolute; right: 5px; bottom: 30px;z-index: 99; }
#bs-example-navbar-collapse-1 .navbar-nav > li > a {font-size: 12px;font-weight:300;padding-right:17px;padding-left:17px;    border-top: 2px solid #555;}
#bs-example-navbar-collapse-1 .navbar-nav > li > a:hover {background:#444444;    border-top: 2px solid #FC5400;}
#bs-example-navbar-collapse-2 .navbar-nav > li > a {font-family: Droid Arabic Naskh !important;text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15);font-weight:300;padding: 9px 11px; font-size:13px;border-left: 1px solid #FFFFFF;}
.navbar-inverse .navbar-nav > li > a:hover {color: white;background: #403F3F;text-shadow:none}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
color: #FFF; background-color: #343434; } .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover { color: #FFF; background: #FC5400 } .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover { color: #FFF; background-color: #343434; } .navbar-inverse .navbar-brand { color: #FFF; padding: 0; height: 40px; } span.bcomment {padding: 6px 6px;} a.bg-profile {width: 34px;height: 32px;color: #888282;padding: 6px 12px 6px 7px; border-right: 1px solid rgb(223, 223, 223);} span.bdate abbr{border-bottom:none;} span.bdate a{color:#888282;} span.bdate {border-right: 1px solid rgb(223, 223, 223);padding: 6px 6px;} .post-outer .widget-content.well {background:#F0E4D2;box-shadow:none} .widget-content.well h3{text-align:center;font-size: 18px;font-weight: 700;} header{margin: 0px auto;width: 100%} .search-div{padding-left:2px;margin-left: 0;} .e789e5 {margin-top: 6px;} .FollowByEmail input { border: 1px solid rgb(209, 209, 209); } .FollowByEmail .btn, .FollowByEmail input { padding: 4px 10px; font-size: 17px; margin-top: 10px; } #header { padding-top: 20px; padding-bottom: 20px; width: 240px; max-width:90%; float:right }
@media (max-width: 767px) {
#footer-wrapper {max-width: 100%;margin: 0px 0px 0px auto;}
#footer-wrapper h2 {font-size: 12px!important;}
.user-rootsoft{right: -85px!important;}
#searchthis {display: table;height: 54px;margin: 0;}
.e789e5 {width: 100%;margin-bottom: 6px;}
#searchthis button {width: 20%;padding-left: 3%;background: #444444;}
#searchthis .form-control {width: 80% !important;}
.search-bx {padding: 0}
.ads1post{display:none} .ads3post { float: none!important; right: 0!important; width: auto!important; }
.tabs-widget li{width: 33.3%;}
span.showpagePoint { margin: 4px 2px; }
#Header-wrapper { background-repeat: no-repeat!important; background-position: 47%; }
.fixed-top .navbar-toggle {margin-left: 0}
#footx1:before,#footx2:before,#footx3:before,#footx4:before,#BlogArchive1:before{display:none}
#footer-widgetfix .footer-widget {width: 47%!important;margin: 3px!important; padding: 10px !important;}
#footx1::before, #footx2::before, #footx3::before, #footx4::before{float:right;position: initial;}
#Header1 img {padding-right: 0;}
.carousel-control {background-image: initial !important;}
#header-wrap {background-size: contain!important;}
.innerhm,#feed-list-container{display:none;}
#bs-example-navbar-collapse-1 {background: #444;margin-top: 12px;}
#searchthis button {border-right: 1px solid #CCAD98;}
#searchthis .form-control:focus {width: 80%;}
#backtotop {font-size:20px;}
#backtotop{left:15px;bottom:0;display:none;width:34px;height:34px;color:#fff;text-align:center;background-color:#303030;font-size:22px;line-height:32px;padding:0;}
.cl-item-page > .flrt {clear: both;float: none;margin:0 auto 12px}
.cl-item-page > .flrt > img {margin: auto;display: block;}
.social {margin: 0 auto;display: block;width: 150px;float: none !important;padding: 7px 0 0 !important;clear: both;}
.search-div{padding-left:4px}
.navbar-nav {margin: 4px;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {padding:10px 0}
.navbar-toggle {float: left;margin-left: 15px;}
.navbar-form {padding:10px 4px !important}
.navbar-inverse .navbar-brand {float: right;max-width: 75%}
#header {margin:0 auto;float:none}
.navbar-form .input-group > .form-control {width: 100%;}
.vb-link {right: initial !important;bottom: initial !important;position: relative !important;margin: 25px 0 !important;width: 100% !important;left: initial !important;text-align: center !important;}}
@media (max-width: 992px) {.ads728 {max-width:100%;padding-top: 20px;float: none;clear:both;position: static;right:0}#searchthis .form-control{width:90px}#searchthis .form-control:focus{width:100px}.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {top: 45%;}}
@media (min-width: 768px) {
.social {margin-right: 10px;}
.ads3post{right: 0!important;left: 0;}
#bs-example-navbar-collapse-1 {float: left;width: 67%;}
#bs-example-navbar-collapse-1 .navbar-nav {background: #555;float: left;}
#searchthis {*margin-left: -4px;}
#searchthis .form-control {border: none;height: 26px;margin-left: 6px;}
#searchthis button {background: #446FAA;border: none;}
.navbar-form {float: left;}
.navbar-header{float: right;}
.navbar-nav{float: right;}
.navbar-nav > li{float: right;}
.navbar-brand  {float: right;}
.navbar-form { padding: 0px; margin: 0px 2px 0px; } }
#Header1 { width: 40%; } .ltspst { background: #343434; padding: 12px 17px 12px; font-size: 16px; color: #FFF; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1); margin: 0 0 -1px; width: auto; display: inline-block; text-transform: uppercase; } .lts-post { border-bottom: 2px solid #343434; margin: 0px 4px 4px; } h1, h2, h3, h4{font-family: 'Tahoma', arial !important;} h1.post-title { border-bottom: 1px solid #DCDCDC; font-size: 24px; padding: 0px 16px 19px; font-weight: 600; margin: 15px -16px 17px; color: #343434;  } h3.post-title { border-bottom: none; font-size: 26px; padding: 0px 16px 19px; font-weight: 700; margin: 10px -5px 17px; color: #343434;  line-height:1.5; } .date-header {display:none;} .badge{border-radius:32px !important} .label{border-radius:4px !important} .input-group-btn > .btn {border-radius: 0px !important;} .post-footer-line-1 a {text-decoration:none;color: #555;} .post-header {margin-bottom: 15px;} .post-header, .post-header a, .post-header abbr[data-original-title], .eader abbr[title] { color: #AAA !important; border-bottom: medium none !important; } .post-footer { display: block; padding: 15px 0 5px; margin: 15px 0 5px; border-top: #efefef solid 1px; } .widget-content ul{ padding-right: 0px; margin-bottom:0; list-style: outside none none; } .navbar .dropdown-menu {padding:0;right:0;text-align:right} .navbar .dropdown-menu > li > a {padding: 7px 20px;} .navbar .navbar-toggle {border-radius:4px !important;background: #FC4500;} .HTML .widget-content{padding:0} #sidebar { width: auto; } .post-outer{position: relative;overflow: hidden;*padding:17px} .PageList .widget-content ul li { padding: 7px 10px; margin: 2px 0px; display: block; border-bottom: 1px solid #EEE; } .PageList .widget-content ul li:last-child { border: none; } #sidebar .PopularPosts .widget-content ul li{border-bottom: 1px solid #DCDCDC;} #sidebar .PopularPosts .widget-content ul li:last-child{border-bottom: none;} footer .PopularPosts .widget-content ul li{border-bottom: 1px solid #2d2d2d;} footer .PopularPosts .widget-content ul li:last-child{border-bottom: none;} /*-------------------- search form ------------------*/ input.gsc-input { border: 1px solid rgb(189, 189, 189) !important; padding: 6px !important; width: 100% !important; border-right: none !important; } table.gsc-search-box td.gsc-input { padding-right: 0px !important; } input.gsc-search-button { margin-left: 0px !important; padding: 6px 20px !important; background: rgb(242, 242, 242) !important; border: 1px solid rgb(189, 189, 189) !important; } /*-------------------- thumb ------------------*/ .article {padding: 0px 4px;}.post-body>div>img {top: 0;left: 0;right: 0;bottom: 0;width: ;} .post-body {color: #4E4E4E;line-height: 25px;font-family:'Droid Arabic Naskh',sans-serif;text-decoration:none;} .post-body a {padding: 0 ;margin: 0 ;} .posts-thumb img{width:100%;height:180px} .post-labels a { background: #808080; color: #FFF; padding: 0px 5px; border-radius: 0px 2px 2px 0px !important; position: relative; margin-left: 11px; font-size: 11.5px; } .post-labels a::before { content: no-close-quote; width: 0px; height: 0px; display: table; left: -11px; z-index: 1; border-right: 11px solid #808080; position: absolute; border-bottom: 10px solid transparent; border-top: 11px solid transparent; bottom: 1px; } #Xblog-pager{padding:0;} #content #lhtml {position:relative;float:left;width:100%} #content #lhtml h2 { position: absolute; top: 0px; left: 0px; z-index: 9; padding: 12px 15px; margin: 0px; background: #343434; font-size: 14.5px; color: #D1F5FF; right: 0px; border-bottom: 1px solid #E4E4E4; } .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background: #446FAA; border-color: #C13A2C; } .pagination > li > a, .pagination > li > span { color: #446FAA; background: #FFFFFF; border: none; font-family: electrolize; font-size: 12.5px;border: 1px solid #DCDADA; border-bottom: 2px solid #D6D5D5;} .pagination > li{float:right;margin-left:5px} .pagination>li>a, .pagination>li>span { position: relative; float: left; padding: 5px 10px; line-height: 1.42857143; text-decoration:none; } /*--------------- widget label -----------------------*/ /* Recent posts by labels --------------------------------- */ img.label_thumb{ float: left; margin-right: 10px !important; height: 75px; width: 75px; } #label_with_thumbs { float: left; width: 100%; min-height: 70px; margin: 0px 10px 2px 0px; padding: 0; } ul#label_with_thumbs li { padding: 9px 0px 0; min-height: 65px; margin-bottom: 0px; border-bottom: 1px solid #eee; height: 100px; overflow: hidden; } ul#label_with_thumbs li:last-child { border-bottom: none; } #label_with_thumbs li{ list-style: none ; padding-left:0px !important; } #label_with_thumbs a { text-transform: uppercase;} #label_with_thumbs strong {padding-left:0px; } .bc-bcomment {color:#444} .nav > li > a { padding-left:10px; padding-right:10px; *border-right:solid 1px #494F6E; } .nvbar-bottom .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group { *background:transparent; *border:none; *color:white; } .nvbar-bottom{min-height: 38px;background:#444;-webkit-transition: all 1s ease-in;transition: all 0.8s ease-in-out 0s;position:initial;top:-120px;margin-bottom:15px} header .cntnr{ margin-top: -1px; position: relative; width: 100%; } #Header1 img { margin: -3px -19px; width: ; height: initial; padding: 0 20px; } #Header1 { width: auto; } .btn-warning {background-color: #D28046;border-color: #D28046;} .btn-primary {color: #fff;background-color: #446FAA;border-color: #446FAA;text-shadow:none !important;font-family: 'Droid Arabic Naskh',sans-serif;border-radius: 2px!important; padding: 5px;} .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary { color: #FFF; background-color: #343434; border-color: #343434;border-radius: 2px!important; padding: 5px; } .btn-twitter { background: #00acee; border-radius: 0; margin-top:5px; color: #fff } .btn-twitter:link, .btn-twitter:visited { color: #fff } .btn-twitter:active, .btn-twitter:hover { background: #0087bd; color: #fff } .btn-facebook { background: #3b5998; border-radius: 0; margin-top:5px; color: #fff } .btn-facebook:link, .btn-facebook:visited { color: #fff } .btn-facebook:active, .btn-facebook:hover { background: #30477a; color: #fff } .btn-googleplus { background: #e93f2e; border-radius: 0; margin-top:5px; color: #fff } .btn-googleplus:link, .btn-googleplus:visited { color: #fff } .btn-googleplus:active, .btn-googleplus:hover { background: #ba3225; color: #fff } .btn-stumbleupon { background: #f74425; border-radius: 0; margin-top:5px; color: #fff } .btn-stumbleupon:link, .btn-stumbleupon:visited { color: #fff } .btn-stumbleupon:active, .btn-stumbleupon:hover { background: #c7371e; color: #fff } .btn-linkedin { background: #0e76a8; border-radius: 0; margin-top:5px; color: #fff } .btn-linkedin:link, .btn-linkedin:visited { color: #fff } .btn-linkedin:active, .btn-linkedin:hover { background: #0b6087; color: #fff } .copyright{padding:0 4px} .post-outer .fb_iframe_widget { display: inline-block !important; position: relative; height: 40px; vertical-align: top;margin-left: 7px; width: initial; } #___plusone_0 { vertical-align: top !important; } #twitter-widget-0 { margin-right: 7px; } #nav-med.affix { position: fixed; top: 0; width: 100%; z-index:9999; } .tooltip-inner{font-family:tahoma, arial;padding:7px} h3.post-title {padding: 0px 5.5px 19px;} .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{margin-left: -5px;font-size: 25px;margin-top: -2px;text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.21);} @media (max-width: 480px) { .b-item{width:100%} .carousel-indicators li.active::after {display:none}
.carousel-inner > .item {height: 280px;overflow:hidden;}
.carousel-caption .carousel-title h3 {font-size: 17px;line-height: 1.7;padding-top: 10px;padding-bottom: 10px;font-weight: 700;} } #socialCounterWidget span.fa { width: 47px; height: 47px; color:white; vertical-align: top; padding: 10px; font-size: 26px; right: 0; text-align: center; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 1%, rgba(255,255,255,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(1%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0.1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(255,255,255,0.1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(255,255,255,0.1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(255,255,255,0.1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(255,255,255,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1affffff',GradientType=0 );}
#socialCounterWidget > a { display: block; width: 100%; height: 47px; position: relative; cursor: pointer; } a.facebook-box {background-color: #506ba7;} a.twitter-box {background-color: #56A4C6;} a.googleplus-box {background-color: #BC4B37;} #socialCounterWidget > a.facebook-box:hover { -webkit-box-shadow: inset 0px 0px 80px 44px rgba(47,77,147,1); -moz-box-shadow: inset 0px 0px 80px 44px rgba(47,77,147,1); box-shadow: inset 0px 0px 80px 44px rgba(47,77,147,1); } #socialCounterWidget > a.twitter-box:hover { -webkit-box-shadow: inset 0px 0px 80px 44px rgba(45,122,186,1); -moz-box-shadow: inset 0px 0px 80px 44px rgba(45,122,186,1); box-shadow: inset 0px 0px 80px 44px rgba(45,122,186,1); } #socialCounterWidget > a.googleplus-box:hover { -webkit-box-shadow: inset 0px 0px 80px 44px rgba(207,40,27,1); -moz-box-shadow: inset 0px 0px 80px 44px rgba(207,40,27,1); box-shadow: inset 0px 0px 80px 44px rgba(207,40,27,1); } #socialCounterWidget span {display: block;position: absolute;color: #FFFFFF;right: 70px;font-size: 12px;} #socialCounterWidget .title {top: 7px;} #socialCounterWidget .count {top: 23px;} .author-social { margin-top: -8px; margin-left: -7px; } .ttip > i.fa { color: #FFF; font-size: 21px; width: 35px; text-align: center; height: 31px; padding: 5px 7px; margin-right: -5px; } .ttip > i.fa-facebook { background: #3B5998; } .ttip > i.fa-twitter { background: #00ACEE; } .ttip > i.fa-google { background: #E15142; } .ttip > i.fa-instagram { background: #5280A5; } html {overflow-x: hidden;} .quickedit{display:none;} .user-rootsoft { position: relative; z-index: 2; font-size: 12px; top: 10px; font-weight: normal; padding: 0 12px; float: left; height: 25px; line-height: 27px; background-color: #446FAA; font-family: Droid Arabic Naskh;cursor: pointer;right: -40px;} .user-rootsoft a { color: #fff; } .user-rootsoft:before { content: ""; border: 8px solid #446FAA; border-left-color: rgba(0, 0, 0, 0); border-top-color: rgba(0, 0, 0, 0); position: absolute; left: -16px; top: -0px; } .fa-user:before { content: "\f007"; color: #fff; } .fa-envelope:before {content: &quot;\f0e0&quot;} .fa-envelope:hover{color: #CF3E2F;transition: all 0.3s linear;} .fa-envelope-o:before { content: &quot;\f003&quot;; padding-bottom: 23px; background: #D14132; padding-top: 23px; padding-right: 21px; padding-left: 21px; margin-right: -19px; }
.Life-teks {display: block; position: relative; background-color: #404248; color: #eee; border-radius: 5px!important; margin: .75em 0; padding: 10px 15px; font: 13px/1.5em tahoma;}.Life-teks:before {content: ""; width: 0; height: 0; position: absolute; bottom: 100%; right: 15px; border: 7px solid transparent; border-color: transparent transparent #404248; }

pre::-webkit-scrollbar,pre::-moz-scrollbar,pre code::-webkit-scrollbar,pre code::-moz-scrollbar,code::-webkit-scrollbar,code::-moz-scrollbar {display:none;}
pre::before{font-size:15px;font-weight:700;content:attr(title);position:absolute;top:0;padding:9px 0;left:0;right:0;color:#79798d;display:block;margin:0;text-indent:15px}
pre code{display: block; background: none; border: none; color: #68696B; padding: 0 20px 10px 10px; white-space: pre; overflow: auto;}
code .token.important {font-weight:bold;}
code .token.entity {cursor:help;}
pre mark,code mark,pre code mark {background-color:#3498db!important;color:#fff!important;padding:2px;margin:0 2px;border-radius:2px;}
pre[data-codetype=&quot;CSSku&quot;]:before,pre[data-codetype=&quot;HTMLku&quot;]:before,
pre[data-codetype=&quot;JavaScriptku&quot;]:before,pre[data-codetype=&quot;JQueryku&quot;]:before{background-color:#fff;box-shadow:inset 0 0 0 1px #eee;}
.awal{float: right;color: #E85545;background: transparent;line-height: 30px;font-family: Electrolize,'ge_ss_tvbold';font-size: 50px;padding-left: 5px;}relevant:before { content: "\f005"; font-family: FontAwesome; color: #30C1FB; padding-left: 5px; } relevant { color: #30C1FB; }
how-rootsoft,howrootsoft {position: relative; background-color: #9EB2C0; color: #fff; border-radius: 2px!important; padding: 4px 15px; display: table-cell; margin: -8px 0; width: 100%;}
how-rootsoft:before,howrootsoft:before  { content: ""; width: 0; height: 0; position: absolute; top: 100%; right: 15px; border: 7px solid transparent; border-top-color: #9EB2C0; }#credit{display:none}
.style-1{ background: #E43D3D; color: #fff; position: relative; overflow: hidden; margin: 0; letter-spacing: .3px; font-size: 11px; font-weight: normal; border-radius: 2px!important; padding: 5px 10px; display: inline-table; vertical-align: middle; } .style-2{ background: #4d90fe; color: #fff; position: relative; overflow: hidden; margin: 0; letter-spacing: .3px; font-size: 11px; font-weight: normal; border-radius: 2px!important; padding: 5px 10px; display: inline-table; vertical-align: middle; } .pluso-box{display:none!important} span.pluso-counter { float: right!important; margin-top: -20px!important; }a.pluso-more{visibility: hidden!important;}
.ribbon-content { position: relative; background-color: #446FAA; color: #fff; border-radius: 2px!important; padding: 10px 15px; }.ribbon-content:before { content: ""; width: 0; height: 0; position: absolute; top: 100%; right: 15px; border: 7px solid transparent; border-top-color: #446FAA; }
h3.ribbon { font-family: ge_ss_tvbold!important; color: #446FAA; }
.hello-blog h4 { position: relative;    font-family: ge_ss_tvbold!important; overflow: hidden; margin: 0 0 20px; font-size: 120%; font-weight: 700; padding: 0 8px; text-align: center; text-transform: uppercase; transition: all 0.5s ease-out; }
.hello-blog h4:before { margin-right: -50%; text-align: right} .hello-blog h4:before, .hello-blog h4:after { position: absolute; top: 51%; overflow: hidden; width: 48%; height: 3px; content: '\a0'; background-color: #7F8184; }
.hello-blog h4:after { margin: 0 18px; }
alert-warning:after { content: "\f09b"; font-family: fontAwesome; font-style: normal; font-weight: normal; font-size: 18px; color: #768187; float: left; } .well { padding: 10px;} .alert-warning { color: #555555; font-family:'Droid Arabic Naskh'!important; }
.btn-default {color: #fff!important;background-color: #5A5959;border-color: #EAE9E9!important;    padding-bottom: 0!important;padding: 6px;font-family: 'Droid Arabic Naskh',sans-serif;}
a.active1 { background: #FC5400; }


@keyframes thumlok{
0% {transform:  translate(0px,0px);}
100% {transform:  translate(5px,0px);}
}
@keyframes fadeInUp {
0% {opacity: 0;transform: translateY(20px);}
100% {opacity: 1;transform: translateY(0);}
}
.fadeInUp {
animation-duration: 1s;
animation-fill-mode: both;
animation-name: fadeInUp;
}
@keyframes flipInX {
0% {transform: perspective(400px) rotateX(90deg);opacity: 0;}
40% {transform: perspective(400px) rotateX(-10deg);}
70% {transform: perspective(400px) rotateX(10deg);}
100% {transform: perspective(400px) rotateX(0deg);opacity: 1;}
}
.flipInX {
animation-fill-mode: both;
animation-duration: 1s;
backface-visibility: visible !important;
animation-name: flipInX;
}

*/]]></b:skin>
